<div>
    <h2 class="text-center">Add User</h2>
    <div class="justify-content-center">
        <form [formGroup]="actionsForm">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input formControlName="firstName" [ngbTooltip]="firstNameErrorMessage" 
                    [ngClass]="{ 'invalid-input': form.firstName.errors }"
                    placeholder="First Name" name="firstName" class="form-control" id="firstName" autofocus>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input formControlName="lastName" [ngbTooltip]="lastNameErrorMessage"
                    [ngClass]="{ 'invalid-input': form.lastName.errors }"
                    placeholder="Last name" name="lastName" class="form-control" id="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" formControlName="email" [ngbTooltip]="emailErrorMessage"
                    [ngClass]="{ 'invalid-input': form.email.errors }"
                    placeholder="Email" name="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="mobileNumber">Mobile Number:</label>
                <input formControlName="mobileNumber" [ngbTooltip]="mobileNumberErrorMessage"
                    [ngClass]="{ 'invalid-input': form.mobileNumber.errors }"
                    placeholder="Mobile number " name="mobileNumber" class="form-control" id="mobileNumber">
            </div>
            <div class="form-group">
                <label for="Status">Status:</label>
                <input formControlName="status" placeholder="Status" name="status" class="form-control" id="status">
            </div>
            <button type="submit" class="btn btn-success" (click)="addUser()" [disabled]="!actionsForm.valid">Add User</button>
        </form>
    </div>

</div>